#live-stream {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.overlay-line {
  position: fixed;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: red;
  pointer-events: none;
  z-index: 1;
  display: none;
}